html{
	background-color:#1F465F;
}
body{
	background-color:#1F465F;
	color:#ddd;
	height:100%;
	overflow:visible;
}
button, .btn2{
	border:2px solid #6D2044;
	border-radius:4px;
	color:#ddd;
	background:transparent;
	font-size:16px;
	margin-top:5px;
}
button:hover, .btn2:hover{
	background:#6D2044;
	color:#fff;
}

input[type="text"], textarea, select{
	border:1px solid #ddd;
	border-radius:5px;
	background-color:transparent;
	color:#fff;
	padding:2px 2px;
}
input[type="text"]:focus, textarea:focus, select:focus{
	outline:none;
	border:1px solid #6D2044;
	box-shadow:1px 1px 1px 1px rgba(109, 32, 68, 0.4);
}
.navbar-inverse{
	background-color:#6D2044;
	color:#eee;
}
.navbar{
	border-radius:0px;
	margin-bottom:0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color:#fff;
	background-color:#1F465F;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color:#fff;
	background-color:#1f465f;
}
.dropdown-menu{
	background-color:#1f465f;
}
.dropdown-menu>li>a{
	color:#fff;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
	color:#1f465f;
	background-color:#eee;
}
.navbar-brand{
	font-family:"Lobster", cursive;
	text-shadow:2px 2px 5px rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-toggle .icon-bar{
	color:#eee;
}
.navbar-toggle:hover{
	background-color:#1F465F;
}
.sidebar{
	margin-top:0px !important;
}
.sidebar-nav{
	margin-top:0px!important;
}
.navbar-default.sidebar {	
	background-color:#1F465F !important;
}
.nav>li>a:focus,
.nav>li>a:hover{
	background-color:#6D2044 !important;
	color:#fff;
}
.graphs{
	background:#191919 !important;
		overflow:none;

}
#page-wrapper{
	background-color:#1F465F !important;
	border-left:1px solid #191919;
	overflow:none;
}
.col-md-3.widget.widget1{
	width:23.5% !important;
}
.widget1 {
	margin-right:1.5% !important;
}
.activity-img{
	width:60px;
}
.activity-img img{
	width:60px;
}
.modelCal{
	text-align:center;
	height:320px;
	margin:0 auto;
	min-width:320px;
}
.modelCal .cal1{
	height:320px !important;
	min-height:320px;
	width:60%;
	margin:0 auto;
}
.modelCal .clndr{
}
.modelCal .today{
	color:#fff;
	background-color:#433553 !important;
	border-radius:50%;
}
.available{
	border-radius:50%;
	background-color:#1F465F;
	color:#fff;
}
.event2{
	background-color:#6D2044;
	color:#fff;
}
.event2:hover{
	background-color:#6D2044;
	color:#fff;
}
.modelCal .available:hover{
}
.modelCal .available{
	border-radius:50%;
	background-color:#1F465F;
	color:#fff;
}
.modelCal .today:after{
	content:'';
	position:absolute;
	left:15px;
	bottom:-7px;
	border-left:7px solid #433553;
	border-right:7px solid #433553;
	border-top:7px solid #433553 !important;
}
.modelCal .day{
	border-radius:50%;
}
.stupidCalendar{
	color:#A6A6A6;
	cursor:pointer;
	font-weight:700;
	border-radius:50%;
	transition: all 0.3s ease-in-out;
}
.stupidCalendar:hover{
	color:#fff;
	text-decoration:none;
	background-color:#6D2044 !important;
	transition:all 0.3s ease-in-out;
}
.modelCal .day:hover{
	color:#fff !important;
	background:#6D2044 !important;
	border-radius:50%;
}
.modelCal .clndr-controls{
	background-color:#1f465f !important;
}
.modelCal .header-day{
	color:#6D2044 !important;
}
.modelCal .clndr-table{
	width:100% !important;
	margin:0px !important;
}
.modelCal .clndr-body{
	text-align:center;
}
.modelCal tr{
	height:32px !important;
}
.cal1{
	text-align:center !important;
}
.cal1 .clndr .clndr-table tr .day{
    height: inherit;
    color: #A6A6A6;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}
.cal1 .clndr .clndr-table tr .day.today.event {
    background: rgb(6, 217, 149);
    color: #FFF;
}
.empty{
	height:10px;
	width:100%;
}
.modelModules{
	text-align:center;
	width:100%;
	height:300px;
}
.modelModule{
	float:left;
	width:23%;
	border:1px solid #1F465F;
	margin-bottom:5px;
	margin-left:1%;
	margin-right:1%;
}
.modelImg{
	text-align:center;
}
.modelImgBtn{
	background:transparent !important;
	border:none !important;
	transition:filter 0.6s;
}
.modelImgBtn:hover{
	filter:opacity(50%);
	transition:filter 0.6s;
}
.modelName input[type="text"]{
	margin-top:5px;
	text-align:center;
	color:#fff;
	width:225px;;
}
.modelDescription textarea{
	margin-top:5px;
	width:225px;;
}
.modelUpdate{
	margin-bottom:5px;
}
.removeButton{
	float:left;
}
.updateButton{
	float:right;
}
.addModelDiv{
	float:left;
	border:1px solid #1F465F;
	margin-top:10px;
	margin-left:1%;
	margin-right:1%;
	height:420px;
	width:45%;
}
.imgUploadDiv{
	text-align:center;
}
.newModelImg img{
}
.oneEighty{
	text-align:center;
}
.oneEighty input{
	width:180px;
	margin-top:5px;
}
.oneEighty textarea{
	margin-top:5px;
	width:180px;
}
.uploadBtnDiv{
	margin-top:5px;
	margin-bottom:5px;
}
#newModelImgImg{
	margin-top:5px;
	width:180px;
	height:180px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	border:2px solid #6D2044;
	border-radius:4px;
	padding:1px 6px;
	font-size:16px;
    color: #ddd;
    background-color: transparent;
    display: inline-block;
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label{
	box-shadow:1px 1px 1px 1px rgba(157, 106, 130, 0.6);
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #6D2044;
	color:#fff;
}
.graphs .empty{
	height:20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

 /*-- responsive design --*/
@media (max-width:1366px){
.col-xs-8.activity-desc {
  width: 64.666667%;
  padding: 0;
}	
.activity-desc h5 {
  font-size: 0.85em;
}  
.svg{
  width: 600px !important;
  height: 400px;
}
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar {
  width: 342px !important;
  height:260px !important;
}
.avatar_left {
  width: 65%;
}
.float-left, .pull-left {
  width: 47%;
}
.login-social-link a.facebook {
  margin-right: 20px;
}
}
@media (max-width:1280px){
.col-xs-8.activity-desc {
  width: 63.666667%;
}	
.activity-desc p {
  font-size: 12px;
}
.activity-desc h6 {
  font-size: 11px;
}
i.text-info {
  line-height: 39px;
  font-size: 1em;
}
.float-left, .pull-left {
  width: 42%;
}
.login-social-link a {
  padding: 13px 25px;
  width: 45.5%;
}
}
@media (max-width:1024px){	
.r3_counter_box .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.r3_counter_box {
	width:100%;
  padding: 10px;
  min-height: 70px;
}
.r3_counter_box h5 {
  font-size: 15px;
}
.stats span {
  font-size: 13px;
}
.activity-img {
  padding: 0 10px;
}
.col-xs-8.activity-desc {
  width: 58.666667%;
}
.scrollbar {
  padding: 10px;
}
.col-xs-1 {
  padding: 0;
}
.activity-row {
  margin-bottom: 1em;
}
.activity_box {
  min-height: 281px;
}
.scrollbar {
  height: 278px;
}
.panel-body {
  padding:10px;
}
.panel-title {
  font-size: 15px;
}
.panel-heading {
  padding: 20px 0px 0px;
}
.stats-info ul li {
  padding: 7.4px 0;
  font-size: 12px;
}
div#vmap {
  height: 300px !important;
}
.bs-example1 {
  padding: 10px;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 12px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 12px;
}
.col_2 {
  padding: 5px;
}  
.tiles_info .tiles-head {
  padding: 5px 5px;
  font-size: 11px;
}
.tiles_info .tiles-body {
  font-size: 22px;
  padding: 15px 15px;
}
.grid-date {
  padding: 10px;
}
p.date-in, span.date-on{
  font-size: 1em;
}  
.grid-date h4 {
  font-size: 3.5em;
  padding: 44px 0 15px 0;
}
canvas#doughnut, canvas#line, canvas#polarArea, #bar, #pie, #radar {
  width: 222px !important;
  height: 160px !important;
}
#page-wrapper {
}
.activity-desc h5 {
  font-size: 13px;
}
ul.collection, .mailbox-content{
  padding: 10px;
}
.float-left, .pull-left {
  width: 35%;
}
.m-r-sm {
  margin-right: 0px;
}
.mrg10A {
  margin:1px!important;
}  
.tile-progress {
  padding: 15px;
}
i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-google-plus, i.fa.fa-dribbble, i.fa.fa-linkedin, i.fa.fa-youtube, i.fa.fa-skype, i.fa.fa-flickr{
  font-size: 30px;
}
h3.count.text-light {
  font-size: 30px;
}
.coffee-top i {
  top: 70%;
  left: 31%;
  background-size: 70%;
}
.follow {
  padding: 3em 0px 2em;
}
.two p {
  font-size: 12px;
}
.two span {
  font-size: 1.3em;
}
.top-on1 p {
  font-size: 0.85em;
}
.wid_blog h1 {
  font-size: 1.3em;
}
.wid_blog {
  padding: 2em;
}
.editor {
  padding: 1em 1em 1.5em 1em;
}
.link1 {
  padding: 5px 5px;
}
.wid_blog-desc {
  padding:2.4em 1em;
}
.panel_2 {
  padding: 2em 1em 0;
}
.online-top {
  padding: 11px;
}
.app-cam {
  width: 27%;
}
.navbar-right {
  margin-right: -10px;
}
.content-box-wrapper {
  padding: 1em;
}
i.icon_4 {
  margin-right: 10px;
}
span.badge {
  right: 10px;
}
}
@media (max-width:768px){	
.navbar-right {
  margin-right:3px !important;
}
.col-md-3.widget {
  width:100%;
  float:none;
}
.span_7, .span_8, .col_4{
  padding:0;
}
.span_8, .stats-info, .col_4{
  margin-bottom:1em;
}
.span_4 {
  padding: 0;
  margin:1em 0;
}
.col_1_of_2.span_1_of_2 {
  width: 50%;
  float: left;
}
.graph_box {
  text-align: center;
}
.grid_2 {
  padding: 0;
  margin-bottom: 1em;
}
.graph_box1 {
  text-align: center;
}
.col-md-8.inbox_right {
  padding: 0;
  margin-top:1em;
}
.col-md-4.widget_1_box1 {
  margin-bottom: 1em;
}
.follow {
  padding: 1em;
}
.coffee-top{
	text-align:center;
}
.coffee-top img{
  display:inline-block;
}
.stats-info3{ 
  padding:0;
  margin-bottom:1em;
}
.widget_1_box2 {
  padding: 0;
  margin-top: 1em;
}
.wid_blog-desc {
  padding: 1em;
}
.copy_layout {
  margin: 1em 0 0em 0;
}
.login-social-link a.facebook {
  margin-right: 10px;
}
.app-cam {
  width: 30%;
}
.login-social-link a {
  padding: 10px 15px;
  width: 47.5%;
}
ul.new li.new_left, ul.new li.new_right {
  float: none;
}
.coffee-top i {
  top: 88%;
  left: 44%;
  background-size: 70%;
}

.logo-element {
  padding: 17px 0;
}
.col-md-3.widget.widget1 {
  width:100%;
}
.grid_box1 {
  margin-bottom: 5px;
}
.grid_4, .grid_5{
  padding: 20px 10px;
}
.modal-dialog {
  width: 400px !important;
}
.bs-example4, .bs-example5{
  padding: 1em;
}
ul.new {
  margin: 1em 0 0 0;
  text-align: center;
}
}
@media (max-width:736px){
.navbar-right~.navbar-right {
  display: block;
}
.navbar-right {
  display: none;
}
p.monday {
  font-size: 1em;
}
.grid-date h4 {
  font-size:2.5em;
  padding:20px 0 0px 0;
}
.copy {
  padding: 1em 0;
}
ul.new {
  text-align: center;
}
.grid_box1{
  margin-bottom:5px;
}
.navbar-default .navbar-toggle {
  border-color:#191919;
}
.navbar-default .navbar-toggle .icon-bar {
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #191919;
}
form.navbar-form.navbar-right {
  margin: 0;
}
.sidebar-nav.navbar-collapse {
  margin: 0;
}
.media_1-right {
  padding:0;
}
}
@media (max-width:480px){
.pagination {
  margin: 6px 0;
}
span.label.label-default{
  line-height: 2em;
}
button.btn.btn-lg, button.btn{
  margin-bottom:10px;
}
.modal-dialog {
  width: 370px !important;
}
.coffee-top i {
  top: 82%;
  left: 39%;
}
.well1 {
  padding: 1em;
}
.panel-body1 {
  margin: 1em 0 0 0;
}
.panel-warning {
  margin-top: 1em;
}
.app-cam {
  width: 50%;
  margin: 2em auto auto auto;
}
.app-cam input[type="text"], .app-cam input[type="password"]{
  padding: 10px;
}  
.login-logo {
  padding: 40px 0;
}
.float-left, .pull-left {
  width: 50%;
}
.mail-toolbar.clearfix {
  padding: 1em 0;
}
.copy_layout {
  padding: 10px;
}
button.btn.btn-success {
  padding:9px 12px;
}
.xs h3, .widget_head {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.follow {
  padding: 1em 0;
}
.widget_1_box2 {
  margin-top: 0;
}
.wid_blog h1 {
  font-size: 1em;
}
.wid_blog {
  padding: 1em;
}
.widget_5 {
  margin: 0;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px !important;
}
td.head {
  font-size:1em !important;
}
}
@media (max-width:320px){
.graphs {
  padding: 20px 10px;
}
.login-logo {
  padding:20px 0;
}
.login-logo img{
  width:40%;
}
.app-cam {
  width: 70%;
  margin: 1em auto auto auto;
}
h2.form-heading {
  font-size: 16px;
}  
.login-social-link a {
  padding: 8px 15px;
}
.pagination-lg>li>a, .pagination-lg>li>span {
  padding: 6px 13px;
  font-size: 16px;
}
.modal-dialog {
  width:240px !important;
}
.grid_3 {
  margin-bottom: 1em;
}
ul.collection li {
  margin-bottom: 1em;
}
.m-r-sm {
  font-size: 13px;
}
a.btn.btn-default.dropdown-toggle {
  padding: 3px 6px;
  font-size: 13px;
}
a.btn.btn-default {
  padding: 3px 9px;
}
.btn.btn_1.btn-default.mrg5R {
  padding: 3px 10px;
}
a#home-tab {
  padding: 7px 5px;
}
.btn-warng1{
  padding:5px;
}
.coffee-top i {
  top: 73%;
  left: 37%;
}
body#login {
  min-height: 500px;
}
h1#h1{
  font-size:17px !important;
}
h2#h2{
  font-size:16px !important;
}
h3#h3{
  font-size:15px !important;
}
h4#h4{
  font-size:14px !important;
}
button.btn.btn_5 {
  font-size: 13px;
  padding: 8px 10px;
}
button.btn.btn-lg, button.btn {
  margin-bottom: 3px;
}
span.btn_6{
  font-size: 55%;
}
span.btn_7{
  font-size: 64%;
}
}
@media (max-width: 600px){
	#page-wrapper {

	}
	.r3_counter_box{
		width:100%;
		padding:10px;
		min-height:70px;
	}
	.col-md-3.widget.widget1{
		width:100% !important;
		padding-left:0px;
		padding-right:0px;
	}
	.r3_counter_box .fa{
		width:50px;
		height:50px;
		line-height:50px;
	}
	.navbar-default .navbar-collapse{
		border-color:#191919;
	}
	.navbar-collapse.in {
		overflow-y:auto;
		
	}
	.collapse.in{
		display:block;
	}
	
}